@import "~bootstrap/scss/bootstrap.scss";

.trafficLight{
    background-color: black;
    width: 70px;
    height: 180px;
    margin-top: 50px;
    padding: 7px;
    border-radius: 10px;
}
.light {
  height: 50px;
  width: 50px;
  margin: 5px auto;
  border-radius: 50%;
  padding: 10px;
  padding-bottom: 5px !important;
  cursor: pointer;
  &.red { background-color: #ff0000;}
  &.yellow { background-color: #f8e71b;}
  &.green  { background-color: #7acc21;}
  &.selected{ box-shadow: white 0px 0px 50px 10px;}
}


